<head>
  <script src="bootstrap/js/color-mode.js"></script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Cinema Microservice</title>

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <link href="stylesheets/dashboard.css" rel="stylesheet" />
</head>
