<head>
  <script src="bootstrap/js/color-modes.js"></script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Cinema Micro service</title>

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="stylesheets/dashboard.css" rel="stylesheet" />
</head>
